@font-face {
  font-family: "Shrikhand";
  src: url("../Shrikhand-Regular.ttf") format("truetype"), url("../Shrikhand-Regular.eot") format("eot"), url("../Shrikhand-Regular.woff") format("woff"), url("../Shrikhand-Regular.svg") format("svg");
}
@media screen {
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  .img_logo {
    display: block;
    width: 60%;
    margin: auto;
  }
  .formulaire {
    display: flex;
    align-items: center;
    background-color: #dedede;
    justify-content: center;
  }
  .formulaire .icone_formulaire {
    padding: 5%;
  }
  .formulaire .saisie_formulaire {
    width: 40%;
  }
  .formulaire input {
    border: none;
    background-color: #dedede;
  }
  .recherche_Restaurants {
    text-align: center;
    background-color: #efefef;
    padding: 10%;
  }
  .recherche_Restaurants .texte_recherche h3 {
    margin-top: 0;
  }
  .recherche_Restaurants .bouton_validation input {
    background: rgb(208, 206, 251);
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
    border: none;
    color: white;
    border-radius: 30px;
    padding: 5%;
    min-width: 60%;
    box-shadow: 0px 5px 27px -2px rgba(0, 0, 0, 0.4);
  }
  #Fonctionnement {
    margin: 15% 0;
  }
  #Fonctionnement h3 {
    margin-left: 5%;
  }
  #Fonctionnement .block_Etapes {
    display: flex;
    align-items: center;
    margin: 5% 2% 5% 8%;
    padding: 6% 6% 6% 0;
    background-color: #efefef;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 #dbdbdb;
  }
  #Fonctionnement .block_Etapes p {
    margin: 0;
  }
  #Fonctionnement .block_Etapes .chiffre_etape {
    background-color: #9356DC;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 1% 2.5%;
    margin-left: -3.5%;
    margin-right: 6%;
  }
  #Fonctionnement .block_Etapes .duo_etape {
    display: flex;
    justify-content: space-between;
  }
  #Fonctionnement .block_Etapes .duo_etape .icone_etape {
    color: grey;
  }
  #Fonctionnement .block_Etapes .etape_1 {
    width: 66%;
  }
  #Fonctionnement .block_Etapes .etape_2 {
    width: 62%;
  }
  #Fonctionnement .block_Etapes .etape_3 {
    width: 64%;
  }
  #Choix_restaurants {
    background-color: #efefef;
    padding: 5%;
  }
  #Choix_restaurants .Nouveau1 {
    background-color: #99E2D0;
    padding: 2%;
    width: 18%;
    position: absolute;
    right: 2em;
    top: 56.5em;
    text-align: center;
  }
  #Choix_restaurants .Nouveau2 {
    background-color: #99E2D0;
    padding: 2%;
    width: 18%;
    position: absolute;
    right: 2em;
    top: 71.5em;
    text-align: center;
  }
  #Choix_restaurants .block_Restaurant {
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 5%;
  }
  #Choix_restaurants img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #Choix_restaurants .legende_Restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
  }
  #Choix_restaurants .legende_Restaurant h4 {
    margin-top: 5%;
    margin-bottom: 4%;
  }
  #Choix_restaurants .legende_Restaurant p {
    margin-top: 0;
  }
  #Choix_restaurants .fa-heart {
    font-size: x-large;
    margin: 5% 3%;
  }
  footer {
    background-color: #2f2f2f;
    color: white;
    padding: 1% 5%;
  }
  footer a {
    color: white;
    text-decoration: none;
  }
  footer .duo_footer {
    display: flex;
    align-items: center;
  }
  footer span {
    font-size: small;
  }
  footer .fa-utensils {
    margin-right: 4%;
  }
  footer .fa-handshake-angle {
    margin-right: 3%;
  }
}
@media screen {
  #logo {
    display: flex;
    align-items: center;
    padding: 6%;
  }
  .fa-arrow-left {
    font-size: x-large;
  }
  .img_restaurant1 {
    width: 100%;
  }
  #section_menu {
    background-color: #efefef;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 5%;
    position: relative;
    width: 90%;
    margin-top: -10%;
  }
  #section_menu .nom_restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #section_menu .nom_restaurant span {
    font-size: x-large;
  }
  #section_menu h3 {
    margin-bottom: 0;
  }
  #section_menu hr {
    background-color: #99E2D0;
    border: none;
    margin: 1% 0 5% 0;
    height: 3px;
    width: 15%;
  }
  #section_menu .description_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #section_menu .block_choix {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 3%;
    margin-bottom: 5%;
  }
  #section_menu .block_choix h4, #section_menu .block_choix p {
    margin: 1%;
  }
  #section_menu .plats_menu, #section_menu .desserts_menu {
    margin: 15% 0;
  }
  #section_menu .bouton_validation {
    text-align: center;
    margin-bottom: 20%;
  }
  #section_menu .bouton_validation input {
    background: rgb(208, 206, 251);
    background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
    border: none;
    color: white;
    border-radius: 30px;
    padding: 5%;
    min-width: 60%;
    box-shadow: 0px 5px 27px -2px rgba(0, 0, 0, 0.4);
  }
  #footerR {
    background-color: #2f2f2f;
    color: white;
    padding: 1% 5%;
    width: 90%;
  }
  #footerR a {
    color: white;
    text-decoration: none;
  }
  #footerR .duo_footer {
    display: flex;
    align-items: center;
  }
  #footerR span {
    font-size: small;
  }
  #footerR .fa-utensils {
    margin-right: 4%;
  }
  #footerR .fa-handshake-angle {
    margin-right: 3%;
  }
}/*# sourceMappingURL=main.css.map */